
@import url('https://fonts.googleapis.com/css?family=Nunito:300,400,700&display=swap');

@import '~bootstrap/scss/bootstrap';

*{
    padding: 0;
    margin: 0;
}

@import 'header';
@import 'footer';

.container-custom-message{
    .messages{
        width: 991px;
        margin: 0 auto;     
    }
}

.page-container,
.page-container-form{
    width: 991px;
    margin: 10vh auto;
    padding: 20px;

    .row-title{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 20px;

        .title{
            font-size: 24px;
            font-weight: 600;
            color: #19459d;
        }
    
        a{
            background-color: #19459d;
            padding: 0.375rem 0.75rem !important;

            &:hover{
                text-decoration: none;
            }
        }
    }

    .table-responsive{

        tr{
            td{
                span{
                    display: none;
                }

                .btn{
                    padding: 0 0.75rem;
                }
            }
        }
    }

    form{
        width: 768px;
        margin: 0 auto;

        .btn-primary{
            background-color: #19459d;
        }
    }

}

.page-container-form{
    width: 768px;   

    form{
        width: 100%;
    }
}

@media (max-width: 1000px) {

    .page-container, 
    .page-container-form{
        width: 95%;

        form {
            width: 100%;
        }
    }
}

@media (max-width: 600px) {

    .page-container, 
    .page-container-form{
        margin: 5vh auto; 

        .row-title{
    
            .title{
                font-size: 18px;
            }
        }

        .table-responsive{
            thead{
                display: none;
            }

            tr{
                &:nth-child(odd){
                    background: #dedddd;
                }

                td{
                    display: flex;

                    span{
                        font-weight: 600;
                        margin-right: 5px;
                        display: block;
                    }
                }
            }
        }

        form {
            width: 100%;
        }
    }
}