
.header{
    width: 100%;
    padding: 15px;
    background-color: #19459d;
    font-size: 16px;
    font-weight: 600;
    text-align: center;
    color: white;

    .content-header{
        width: 991px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;

        img{
            height: 50px;
            width: auto;
        }

        .menu{
            display: flex;
            align-items: center;   
            
            a{
                color: white;
                margin: 0 10px;

                &:hover{
                    text-decoration: none;
                }
            }
        }
    }
}

@media (max-width: 1000px) {

    .header{
        .content-header{
            width: 100%;
        }
    }
}